::placeholder {
    color: white;
    opacity: 0.6; /* Firefox */
  }
.contact-container{
   box-shadow: 1px 1px 10px 3px red;
}
.contact-container input,textarea{
  border: 1px solid red !important;
  box-shadow: none !important;
}